html,
body {
  scroll-behavior: smooth !important;
}
body {
  word-wrap: break-word;
}
a {
  color: #1e88e5;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.postcontent a:hover {
  text-decoration: underline;
}
.postcontent img,
.fullwidth {
  width: calc(100% + 48px) !important;
  padding: 20px 0;
  margin-left: -24px;
  margin-right: -24px;
}
.postcontent iframe {
  /* Todo: Add CSS styles (with :before?) that display all iframes at full  width */
  position: relative;
  width: 100%;
  height: 100%;
  padding: 20px 0;
  margin-left: -24px;
  margin-right: -24px;
}
.postcontent {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.46429em;
}
.postcontent h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.20588em;
}
.postcontent h2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.13333em;
  margin-left: -0.02em;
}
.postcontent h3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.30357em;
  margin-left: -0.02em;
  letter-spacing: -0.02em;
}
.postcontent h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
}
.postcontent h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.postcontent h6 {
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.postcontent blockquote {
  font-family: medium-content-slab-serif-font, Georgia, Cambria, Times, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 1.48;
  letter-spacing: -0.012em;
  color: #525252;
  padding: 0 50px 0 50px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
.postcontent blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote > center {
  margin: 0 -50px 0 -50px !important;
}

a .username {
  color: black;
}
.cpointer {
  cursor: pointer;
}
button:focus,
button:active,
button:hover,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
}

/* places map selector */
#map {
  height: 200px;
  width: 300px;
}
.controls {
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid transparent;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  height: 29px;
  margin-left: 17px;
  margin-top: 10px;
  outline: none;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

.controls:focus {
  border-color: #4d90fe;
}
.title {
  font-weight: bold;
}
#infowindow-content {
  display: none;
}
#map #infowindow-content {
  display: inline;
}
/* editor */
.mce-content-body {
  min-height: 350px;
  outline: 0px !important;
  -webkit-appearance: none;
}

/* carousel */
.carousel-inner .carousel-item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}
.carousel-inner .carousel-item:first-of-type {
  position: relative;
}
.carousel-inner .active {
  opacity: 1;
}
