/* Markdown/html editor */
.CodeMirror {
  height: 100% !important;
  min-height: 300px;
}
/* Editor inline menu */
.duDjGM {
  padding-bottom: 14px !important;
}

/* Progress bar */
#nprogress .bar {
  background: #3849ab !important;
}

figcaption {
  text-align: center;
  font-style: italic;
  margin-top: -15px;
  font-size: 0.8em;
}

/* Image lazy loading fade effect */
.lazy {
  transition: opacity 0.5s;
  opacity: 0.2;
}
.lazy.loaded {
  opacity: 1;
}

.lazyImage img {
  object-fit: cover;
}

.fullheight {
  position: absolute;
  /* https://stackoverflow.com/questions/15021573/get-div-to-take-up-100-body-height-minus-fixed-height-header-and-footer */
  height: -moz-calc(100% - 65px); /* Firefox */
  height: -webkit-calc(100% - 65px); /* Chrome, Safari */
  height: calc(100% - 65px); /* IE9+ and future browsers */
}

.text-decoration-underline {
  text-decoration: underline;
}

.text-mutedlight {
  color: #9e9e9e;
}

@media only screen and (max-width: 767px) {
  .fullheight {
    position: absolute;
    height: -moz-calc(100% - 55px); /* Firefox */
    height: -webkit-calc(100% - 55px); /* Chrome, Safari */
    height: calc(100% - 55px); /* IE9+ and future browsers */
  }
}

body {
  word-wrap: break-word;
}

a,
a:hover {
  text-decoration: none !important;
  color: inherit;
}
.ablue {
  color: #1e88e5 !important;
}
.postcontent a:hover,
.hoverline:hover {
  text-decoration: underline !important;
  color: #1e88e5;
}
.postcontent img,
.fullwidth {
  width: calc(100% + 48px) !important;
  padding: 20px 0;
  margin-left: -24px;
  margin-right: -24px;
}
.postcontent iframe {
  width: calc(100% + 48px);
  margin-left: -24px;
  margin-right: -24px;
  padding: 20px 0;
}
/* Disabled for causing problems with the editor - todo: investigate if these styles are needed for proper post rendering */
/* .postcontent span {
  width: calc(100% + 24px);
  margin-left: -12px;
  margin-right: -12px;
  outline: 0;
  border: 0;
} */

#editorjs-container {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.postcontent {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1.46429em;
}
.postcontent h1 {
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.20588em;
}
.postcontent h2 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.13333em;
  margin-left: -0.02em;
}
.postcontent h3 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.30357em;
  margin-left: -0.02em;
  letter-spacing: -0.02em;
}
.postcontent h4 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 0em;
}
.postcontent h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.postcontent h6 {
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
.postcontent blockquote {
  font-family: medium-content-slab-serif-font, Georgia, Cambria, Times, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 1.48;
  letter-spacing: -0.012em;
  color: #525252;
  padding: 0 50px 0 50px;
  quotes: '\201C''\201D''\2018''\2019';
}
.postcontent blockquote:before {
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.postcontent table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  display: table;
  border: 1px;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}
.postcontent td {
  padding: 0.5rem 0.625rem 0.625rem;
}
.postcontent tr {
  background-color: #fcfcfc;
}
.postcontent tr:nth-child(even) {
  background-color: #f4f4f4;
}

blockquote > center {
  margin: 0 -50px 0 -50px !important;
}

a .username {
  color: black;
}
.cpointer {
  cursor: pointer;
}
button:focus,
button:active,
button:hover,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
}
/* editor */
.mce-content-body {
  outline: 0px !important;
  -webkit-appearance: none;
}
.posteditor {
  min-height: 350px;
}
.inputtitle {
  font-size: 40px !important;
}
/* carousel */
.carousel-inner .carousel-item {
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}
.carousel-inner .carousel-item:first-of-type {
  position: relative;
}
.carousel-inner .active {
  opacity: 1;
  z-index: 100;
}
/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
